---
layout: gallery
title: Photography
description: "More photos on <a href='https://500px.com/mazhang'target='_blank'>500px</a>."
---

{% for art in site.data.photos reversed%}

	{% if {{art.align}} == "left" %}
  		<div class="art left">
  	{% elsif {{art.align}} == "right" %}
  		<div class="art right">
  	{% else %}
  		<div class="art">
  	{% endif %}

	    	<a href="#{{forloop.index}}">
		  		<img src="/photoStuff/{{art.image}}">
			</a>
		</div>

	<a href="#_" class="lightbox" id="{{forloop.index}}">
	  <img src="/photoStuff/{{art.image}}">
	</a>

{% endfor %}




