---
layout: project
title: Videos
description: "Some short films and stuff."
---

{% for project in site.data.videos reversed%}

  <div class="thing">


    {% if {{project.type}} == "link" %}
    <a href="{{project.link}}" target="_blank">
      <img src="img/{{project.image}}" />
      <h4> {{project.title}} </h4>
    </a>
    {% elsif {{project.type}} == "embed" %}
    <video controls width="100%">
      <source src="img/{{project.link}}" type="video/mp4">
    Your browser does not support the video tag.
    </video>
    <h4> {{project.title}} </h4>
    {% endif %}

    <p> 
      <span class="org"> {{project.org}} </span>
      {{project.desc}}
    </p>

  </div>

{% endfor %}
