<footer class = "mobile-footer">
  <div class="s">
      <ul class="social">
        <li><a href="mailto:mazhang2718@gmail.com" ><i class="icon-envelope"></i></a></li>
        <li><a href="https://twitter.com/_mazhang" target="_blank"><i class="icon-twitter-sign"></i></a></li>
        <li><a href="https://www.linkedin.com/in/matthew-zhang-555a6098?trk=hp-identity-name" target="_blank"><i class="icon-linkedin-sign"></i></a></li>
        <li><a href="http://www.github.com/mazhang2718" target="_blank"><i class="icon-github-sign"></i></a></li>
      </ul>
  </div>
  <p> Dev + Design: Matthew Zhang </p>
</footer>