<div class="header">

  <div class = "name">
    <a href = "/"> <h1> MATTHEW ZHANG </h1> </a>
  </div>

  <nav class="desktop-nav">

    <ul class="portfolio">

      <h2> PORTFOLIO </h2>

      <div class="vis">
            <li> <a href="/art"> Art </a></li>
            <li> <a href="/code"> Code </a> </li>
            <li> <a href="/games"> Games </a></li>
            <li> <a href = "/music"> Music </a></li>
            <li> <a href="/photography"> Photography </a> </li>
            <li> <a href="/video"> Video </a> </li>
      </div>
    </ul>

    <ul class="about">

      <h2 >ABOUT</h2>

      <li> <a href="resume.pdf"> Resume </a></li>
 
    </ul>

  </nav>



  <nav class="mobile-nav">

      <ul class="portfolio">
      <div class="dropdown">
        <h2 onclick="myFunction()" class="dropbtn">PORTFOLIO</h2>
        <div id="myDropdown" class="dropdown-content">
            <li> <a href="art.html"> Art </a></li>
            <li> <a href="code.html"> Code </a> </li>
            <li> <a href="games.html"> Games </a></li>
            <li> <a href = "music.html"> Music </a></li>
            <li> <a href="photography.html"> Photography </a> </li>
            <li> <a href="video.html"> Video </a> </li>
        </div>
      </div>
      </ul>


  </nav>



  <footer class="desktop-footer">
      <ul class="social">
        <li><a href="mailto:mazhang2718@gmail.com" ><i class="icon-envelope"></i></a></li>
        <li><a href="https://twitter.com/_mazhang" target="_blank"><i class="icon-twitter-sign"></i></a></li>
        <li><a href="https://www.linkedin.com/in/matthew-zhang-555a6098?trk=hp-identity-name" target="_blank"><i class="icon-linkedin-sign"></i></a></li>
        <li><a href="http://www.github.com/mazhang2718" target="_blank"><i class="icon-github-sign"></i></a></li>
      </ul>
    <p> Dev + Design: Matthew Zhang </p>
  </footer>

</div>